# dependencies
vendor/
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/
.env.local
.zip
.tar.gz

# misc
.DS_Store
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deployment
.vercel

# wordpress
wp-cli.local.yml
.idea*
*.sql
*.tar.gz
*.zip

# typescript
*.tsbuildinfo
